<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	<title>后盾网博客</title>
	<script type="text/javascript" src="__PUBLIC__/js/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/js/index.js"></script>
	<link rel="stylesheet" href="__PUBLIC__/css/index.css" />
</head>
<body>
	<!-- 头部 -->
	<div id="wrapper"></div>
	<div id="top">
		<!-- 头部左侧 -->
		<div id="top_left">
			<p id="logo"></p>
			<span>强大的后盾网，我们永远的后盾！</span>
		</div>
		<!-- 头部右侧(导航条) -->
		<div id="top_right">
			<ul>
				<li><a href="">主页</a></li>
				<li><a href="">博文</a></li>
				<li><a href="">了解后盾</a></li>
			</ul>
			<p id="bar"></p>
		</div>
	</div>
	<!-- 头部结束 -->
	<!-- 发布内容区域 -->
	<div id="arc">
		<!-- 左侧区域 -->
		<div class="arc_left_box">
			<p class="arc_show">
				博文
				<b>栏目：<span>PHP</span></b>
			</p>
			<div class="arc_left">
				<div class="arc_left_date">
					<p></p>
					<dl>
						<dd>2014</dd>
						<dt>7-8</dt>
					</dl>
				</div>
				<div class="arc_left_content">
					<a href="" class="arc_tittle">文章标题</a>
					<a href=""><img src="" alt="" /></a>
					<div class="arc_des">文章摘要</div>
					<a href="" class="arc_more">阅读全文>></a>
				</div>
			</div>
			<div class="arc_left">
				<div class="arc_left_date">
					<p></p>
					<dl>
						<dd>2014</dd>
						<dt>7-8</dt>
					</dl>
				</div>
				<div class="arc_left_content">
					<a href="" class="arc_tittle">文章标题</a>
					<a href=""><img src="" alt="" /></a>
					<div class="arc_des">文章摘要</div>
					<a href="" class="arc_more">阅读全文>></a>
				</div>
			</div>

		<div class="page">
			<a href="">1</a>
			<a href="">2</a>
			<a href="">3</a>
		</div>
		</div>
		<!-- 左侧区域结束 -->
		<!-- 右侧区域 -->
		<div class="arc_right_box">
			<!-- 关于后盾网 -->
			<div class="right_little_box">
				<p class="right_tittle">关于后盾网</p>
				<a href=""><img src="__PUBLIC__/images/houdunwang.jpg" alt="" id="logo_img"/></a>
				<ul class="right_des">
					<li>北京后盾计算机技术培训有限责任公司是专注于培养中国互联网优秀的程序语言专业人才的专业型培训机构。</li>
				</ul>
			</div>
			<!-- 关于后盾网 -->

			<!-- 栏目列表 -->
			<div class="right_little_box">
				<p class="right_tittle">栏目列表</p>
				
				<ul class="right_category">
					<li><a href="">栏目名称</a></li>
				</ul>
			</div>
			<!-- 栏目列表结束 -->
			<!-- 最新文章 -->
			<div class="right_arc_little_box">
				<p class="right_tittle">最新文章</p>
				<div class="hot_arc">
					<div class="arc_js_move">
						<div class="right_roll">
							<ul class="right_des">
								<li><a href="">后盾网</a></li>
								<li><a href="">后盾网</a></li>
								<li><a href="">后盾网</a></li>
								<li><a href="">后盾网</a></li>
								<li><a href="">后盾网</a></li>
								<li><a href="">后盾网</a></li>
							</ul>
						</div>

						<div class="right_roll">
							<ul class="right_des">
								<li><a href="">后盾网</a></li>
								<li><a href="">后盾网</a></li>
								<li><a href="">后盾网</a></li>
								<li><a href="">后盾网</a></li>
								<li><a href="">后盾网</a></li>
								<li><a href="">后盾网</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- 最新文章结束 -->
			<!-- 最新回复 -->
			<div class="right_little_box">
				<p class="right_tittle">最新回复</p>
				<ul class="right_answer">
					<li><a href="">支持后盾网</a></li>
				</ul>
			</div>
			<!-- 最新回复结束 -->
			<!-- 结果统计 -->
			<div class="right_little_box">
				<p class="right_tittle">站点统计</p>
				<ul class="right_des count_bg">
					<li>文章总数：<span>20篇</span></li>
					<li>回复总数：<span>20条</span></li>
					<li>浏览总数：<span>20次</span></li>
				</ul>
			</div>
			<!-- 结果统计结束 -->
		</div>
		<!-- 右侧区域结束 -->
	</div>
	<!-- 发布内容区域结束 -->
	<!-- 返回顶部 -->
	<div>
		<a href="javascript:void(0)" id="back_top"></a>
	</div>
	<!-- 返回顶部结束 -->

	<!-- 底部foot区域 -->
	<div id="foot_box">
		<div id="foot">
			<p id="foot_l">Copyright © 2013-2013 xiaofan. All rights reserved.</p>
			<p id="foot_r">
			
			</p>
		</div>
	</div>

	</div>
	<!--[if IE 6]>
    <script type="text/javascript" src="__PUBLIC__/js/iepng.js"></script>
    <script type="text/javascript">
        DD_belatedPNG.fix('#arc .arc_left .arc_left_date p,#arc .arc_left_box #foucs_photo .foucs_photo_l img','background');
    </script>
	<![endif]-->
</body>
</html>
	<!-- 底部foot区域结束 -->