<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	<title></title>
	<link rel="stylesheet" href="__PUBLIC__/css/public.css" />
	<script type="text/javascript" src="__PUBLIC__/js/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/js/public.js"></script>
</head>
<body>
	<table class="table">
		<tr>
			<td class="th" colspan="10">查看博文</td>
		</tr>
		<tr>
			<td class="tdLittle1">AID</td>
			<td>标题</td>
			<td class="tdLittle2">栏目名称</td>
			<td class="tdLtitle3">查看次数</td>
			<td class="tdLtitle4">创作时间</td>
			<td class="tdLtitle7">操作</td>
		</tr>
		<foreach from="$articles" key="$k" value="$v">
		<tr>
			<td >{$v.aid}</td>
			<td>{$v.title}</td>
			<td><a href="">{$v.cname}</a></td>
			<td>{$v.click}</td>
			<td>{$v.time|date:'Y-m-d',@@}</td>
			<td>
				<if value="$v['istop'] eq 0">
				<a href="{|U:'Admin/Article/istop'}/aid/{$v.aid}/status/0">[置顶]</a>
				<else/>
				<a href="{|U:'Admin/Article/istop'}/aid/{$v.aid}/status/1">[取消置顶]</a>
				</if>
				<a href="{|U:'Admin/Article/editArticle'}/aid/{$v.aid}">[编辑]</a>
				<a href="{|U:'Admin/Article/isdel'}/aid/{$v.aid}/status/{$v.isdel}">[删除]</a>
			</td>
		</tr>
		</foreach>
	</table>
	{$page}
</body>
</html>