<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	<title></title>
	<link rel="stylesheet" href="__PUBLIC__/css/public.css" />
	<script type="text/javascript" src="__PUBLIC__/js/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/js/public.js"></script>
	<script type="text/javascript" src="__PUBLIC__/js/category.js"></script>
</head>
<body>
	<table class="table">
		<tr>
			<td class="th" colspan="10">查看栏目</td>
		</tr>
		<tr>
			<th>CID</th>
			<th>栏目名称</th>
			<th>状态</th>
			<th>操作</th>
		</tr>
		<foreach from="$categorys" value="$v" key="$k">
		<tr>
			<td>{$v.cid}</td>
			<td><a href="">{$v.cname}</a></td>
			<if value="$v['isoff'] eq 0">
			<td class="status">开启</td>
				<else/>
			<td class="status">关闭</td>
			</if>
			<td>
				<if value="$v['isoff'] eq 0">
					<a href="javascript:void(0);" class="isoff" url="{|U:'Admin/Category/isoff'}/cid/{$v.cid}" status="{$v['isoff']}">[关闭]</a>
			<else/>
						<a href="javascript:void(0);" class="isoff" url="{|U:'Admin/Category/isoff'}/cid/{$v.cid}" status="{$v['isoff']}">[开启]</a>
			</if>

				<a href="{|U:'Admin/Category/edit'}/cid/{$v.cid}" class="isoff" url="">[编辑]</a>
				<a href="{|U:'Admin/Category/delcategory'}/cid/{$v.cid}" class="del"   url="">[删除]</a>
			</td>
		</tr>
		</foreach>
	</table>
		<div class="page">
			<a href="">{$page}</a>
		</div>
</body>
</html>