<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	<title>后盾网博客</title>
	<meta name="keywords" content="后盾网顶尖PHP培训，PHP培训" />
	<meta name="description" content="后盾网PHP培训航母" />
	<script type="text/javascript" src="__PUBLIC__/js/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/js/index.js"></script>
	<link rel="stylesheet" href="__PUBLIC__/css/index.css" />
</head>
<body>
<!-- 头部 -->
<include file='__PUBLIC__/head.html'/>
<!-- 头部结束 -->
<!-- 发布内容区域 -->
<div id="arc">
	<!-- 左侧区域 -->
	<div class="arc_left_box">
		<p class="arc_show">后盾网，有实力，做后盾！</p>
		<!-- 轮播区域 -->
		<div id="foucs_photo">
			<div class="foucs_photo_l">
				<img src="__PUBLIC__/images/zs1.jpg" alt="" />
				<img src="__PUBLIC__/images/zs2.jpg" alt="" />
				<img src="__PUBLIC__/images/zs3.jpg" alt="" />
				<img src="__PUBLIC__/images/zs4.gif" alt="" />
			</div>

		</div>
		<!-- 轮播区域结束 -->
		<p class="arc_show">博文</p>
		<foreach from="$articles" key="$k" value="$v">
		<div class="arc_left">
			<div class="arc_left_date">
				<p></p>
				<dl>
					<dd>{$v.time|date:'Y',@@}</dd>
					<dt>{$v.time|date:'m-d',@@}</dt>
				</dl>
			</div>
			<div class="arc_left_content">
				<a href="" class="arc_tittle">{$v.title}</a>
				<a href="{|U:'Index/Article/index'}/aid/{$v.aid}"><img src="__ROOT__/{$v.thumb}" alt="缩略图" /></a>
				<div class="arc_des">{$v.suminfo}</div>
				<a href="{|U:'Index/Article/index'}/aid/{$v.aid}" class="arc_more">阅读全文>></a>
			</div>
		</div>
		</foreach>

		<div class="page">
			{$page}
		</div>
	</div>
	<!-- 左侧区域结束 -->
	<!-- 右侧区域 -->
	<include file='__PUBLIC__/right.html'/>
	<!-- 右侧区域结束 -->
</div>
<!-- 发布内容区域结束 -->
<!-- 底部foot区域 -->
<include file='__PUBLIC__/foot.html'/>
<!-- 底部foot区域结束 -->
