<div class="arc_right_box">
    <!-- 关于后盾网 -->
    <div class="right_little_box">
        <p class="right_tittle">关于后盾网</p>
        <a href=""><img src="__PUBLIC__/images/houdunwang.jpg" alt="" id="logo_img"/></a>
        <ul class="right_des">
            <li>北京后盾计算机技术培训有限责任公司是专注于培养中国互联网优秀的程序语言专业人才的专业型培训机构。</li>
        </ul>
    </div>
    <!-- 关于后盾网 -->

    <!-- 栏目列表 -->
    <div class="right_little_box">
        <p class="right_tittle">栏目列表</p>

        <ul class="right_category">
            <list from="$categorys" name="$n">
                <li><a href="{|U:'Index/Index/category'}/cid/{$n.cid}">{$n.cname}</a></li>
            </list>
        </ul>
    </div>
    <!-- 栏目列表结束 -->
    <!-- 最新文章 -->
    <div class="right_arc_little_box">
        <p class="right_tittle">最新文章</p>
        <div class="hot_arc">
            <div class="arc_js_move">
                <div class="right_roll">
                    <ul class="right_des">
                        <list from="$newarticles" name="$n">
                            <li><a href="{|U:'Index/Article/index'}/aid/{$n.aid}">{$n.title}</a></li>
                        </list>
                    </ul>
                </div>

                <div class="right_roll">
                    <ul class="right_des">
                        <list from="$newarticles" name="$n">
                            <li><a href="{|U:'Index/Article/index'}/aid/{$n.aid}">{$n.title}</a></li>
                        </list>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- 最新文章结束 -->
    <!-- 最新回复 -->
    <div class="right_little_box">
        <p class="right_tittle">最新回复</p>
        <ul class="right_answer">


            <list from="$newcomment" name="$n">
                <li><a href="{|U:'Index/Article/index'}/aid/{$n.aid}">{$n.content}</a></li>
            </list>
        </ul>
    </div>
    <!-- 最新回复结束 -->
    <!-- 结果统计 -->
    <div class="right_little_box">
        <p class="right_tittle">站点统计</p>
        <ul class="right_des count_bg">
            <li>文章总数：<span>{$articlecount}</span></li>
            <li>回复总数：<span>{$commentcount}</span></li>
            <li>浏览总数：<span>{$clickcount}</span></li>
        </ul>
    </div>
    <!-- 结果统计结束 -->
</div>